body{
  margin: 0;
  text-align: center;
  /* this works for inline-block elem and if we got full width block elem */
  /* This property is used for parent only ie for body or container */
  /* font-family: serif; */
  /* Note: By default we have serif font-family */
  /* font-family: sans-serif; */
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* we will start choosing from left , left waala nahi hua tab right , wo bhi nahi tab uska bhi right and continue */
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  /* width: 10%; */
  /* margin: 0 auto 0 auto; */
  /* 1st 0: for top , 1st auto for right , 2nd 0 for bottom , 2nd auto for left */
  /* as width is not full therefore text-allign : center will not work hence we used the above method */

  /* margin: 0 auto; */
  /* top and bottom is 0 and left right is auto */
  /* font-size: 90px; */
  /* 100% = 16px = 1em so 90px = 90/16 * 100% = 562.5% = 5.62em */
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  line-height: 2;
  /* preferred way of specifying line height is using integers without any unit */
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;

}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #40514E;
  font-size: 1.0rem;
  line-height: 2;

}

hr{
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: red;
}


.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  /* This means 50 is for top , 0 for left and right and 20 for bottom */
}

.skill-row{
  width: 50%;
  /* margin: auto; */
  /* this will center the elem as margin is auto on all 4 sides */
  margin: 100px auto 100px auto;
  text-align: left;

}

.computer_image{
  width: 25%;
  float: left;
  /* after this property image will float to the left of the text and text will wrap around the image*/
  margin-right: 30px;
}

.chilli_image{
  width: 25%;
  float: right;
  /* after this property image will float to the right of the text and text will wrap around the image*/
  margin-left: 30px;
}

/* .computer-skill-description{ */
  /* clear: left; */
  /* this prevents the text from wraping anything on the left  */
/* } */

/* .chilli-skill-description{ */
  /* clear: right; */
  /* this prevents the text from wraping anything on the right */
/* } */

.My_image{
  height: 200px;
  width: 200px;
}

.pro{
  text-decoration: underline;
}

.intro{
  width: 50%;
  margin: auto;
}

.contact-message{
  width: 50%;
  margin: 40px auto 60px;
}

.copyright{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;

}

.bottom-cloud{
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 40px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
